DJANGO_DEBUG=False
DJANGO_SECRET_KEY=vul-hier-een-lange-random-string-in
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_SSL=False
GOOGLE_OIDC_CLIENT_ID=
GOOGLE_OIDC_CLIENT_SECRET=
GOOGLE_WORKSPACE_DOMAINS=
